@model List<VidlyApp.Models.Customers>
@{
    ViewBag.Title = "Index";
}
<p></p>
<h2>Customers</h2>

<table class="table-bordered table-hover table">
    <thead>
        <tr>
            <td>Customer</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>
                    <a href="/customer/details/@c.Id">@c.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table>
